body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
    background-color: white;
    font-family: 'Source Serif Pro';
}

#premium {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#premium-heading {
    font-weight: 900;
    font-size: 4em;
}

#premium-entities {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.premium-content h3 {
    width: 350px;
}


.premium-content button {
    width: 200px;
    font-weight: 900;
    align-self: center;
}


@media screen and (max-width: 767px){

    #premium {
        height: 700px;
        margin-bottom: 50px;
    }
    
    #premium-heading {
        font-weight: 900;
        font-size: 40px;
        text-align: center;
        margin: auto;
        border-bottom: 1px solid #333;
    }

    #premium-entities {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .premium-content {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    
    .premium-content h3 {
        width: 300px;
        margin: auto;
        text-align: center;
    }

    .premium-content ul {
        padding-left: 0px;
    }

    .premium-content ul li {
        list-style: none;
        margin: auto;

    }
    
    
    .premium-content button {
        width: 200px;
        font-weight: 900;
        align-self: center;
        margin: auto;
        margin-bottom: 15px;
    }
    
}


@media screen and (min-width:768px) and (max-width: 1200px){
    body {
        height: 100vh;
    }

    .premium-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .premium-content h3 {
        width: 220px;
        text-align: center;
    }

    .premium-content ul {
        padding: 0px;
    }

    .premium-content ul li {
        list-style: none;
        text-align: center;
    }

    .premium-content button {
        margin: auto;
    }
    
}